@{
    ViewData["Title"] = "Home Page";
}
@model Mission11_Yee.ViewModels.BooksListViewModel

<br>
<br>

@* table *@
<div>
    <h4 class="text-center">Spencer Hilton's Favorite Books</h4>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Classification</th>
            <th>Number of Pages</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td>@book.Isbn</td>
                <td>@book.Classification</td>
                <td>@book.PageCount</td>
                <td>@book.Price</td>
            </tr>
        }
    </tbody>
</table>

@* pagination *@
@if (Model.PagingInfo.TotalPages > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PagingInfo.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
}
